@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header {
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
    padding: 23px 1% 0 1%;
    grid-template-areas:
        "logo logo";
    align-items: center;

}

.logo h1 {
    color: #FFFFFF;
    font-family: s;
}