:root {
    --color-1: 141414;
    --color-2: 000000;
    --color-3: #FFFFFF;
    --color-4: #F6F6F6; 

}

@font-face {
    font-family: "Readex";
    src: url(../storage/font/Readex_Pro/static/ReadexPro-Light.ttf);
}

@font-face {
    font-family: "Readexb";
    src: url(../storage/font/Readex_Pro/static/ReadexPro-Regular.ttf);
}

