<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prototipo</title>
    <link rel="stylesheet" href="../css/page2.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="Encabezado">
                <div class="logo">
                    
                    <button>AQUA</button>
                    <img src="../storage/img/akar-icons_water.png">
             
                

                
                <nav class="menu">
                    <ul>
                        <li><a href="#">INICIO</a></li>
                        <li><a href="#">CÓMO JUGAR</a></li>
                        <li><a href="#">APÓYANOS</a></li>
                        <li><a href="#">SOBRE NOSOTROS</a></li>
                    </ul>

                </nav>

                <div class="container2">
                    <div class="titulo">
                        <img src="../storage/img/Recurso 3 1.png">
                        <h1>Somos creatividad, somos Crae</h1>
                        <p>Crae es un juego de cartas inclusivo donde personas videntes, no<br> videntes y con discapacidad visual pueden participar y disfrutar en <br>conjunto.</h1>
                    </div>

                    <div class="imagen">
                        <div class="img1">
                        <img src="../storage/img/Recurso 2 (2) 1.png">
                        </div>
                        <div class="btn">
                            <button><img src="../storage/img/material-symbols_shopping-cart.png"> Comprar</button>
                        </div>
                        <div class="img3">
                            <img src="../storage/img/insta.png"> <br>
                        </div>
                        <div class="img4">
                            <img src="../storage/img/fb.png"> <br>
                       
                        </div>
                        <div class="img5">
                            <img src="../storage/img/k.png"><br>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        </header>

    </div>
</body>
</html>